@font-face {
    font-family: 'Magra';
    src: url('/fonts/Magra-Regular.woff2') format('woff2');
    font-weight: 400;
    size-adjust: 112%;
    ascent-override: 74%;
    descent-override: normal;
    line-gap-override: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Magra';
    src: url('/fonts/Magra-Bold.woff2') format('woff2');
    font-weight: 700;
    size-adjust: 112%;
    ascent-override: 74%;
    descent-override: normal;
    line-gap-override: normal;
    font-style: normal;
    font-display: swap;
}
