---
const { href, text, class: className } = Astro.props;
const classes = className || 'text-xs text-primary/80';
const textAnchor = text || 'Darío Espinoza';
const hrefAnchor = href || 'javascript:void(0)';
---

<a href={hrefAnchor} target="_blank" rel="noopener noreferrer" class={classes}>
    {textAnchor}
</a>
