---
const {
    class: className = 'bg-gradient-to-bl from-secondary/5 via-primary/15 to-secondary/5',
} = Astro.props;
---

<div
    class={`${className} -z-10 absolute w-dvw min-h-[300px] rounded-xl backdrop-blur-3xl`}
>
</div>
