---
import Button from '@atoms/Button.astro';
import List from '@components/List.astro';
interface Anchor {
    href: string;
    text: string;
}
interface Props {
    id?: string;
    items: Array<Anchor>;
}
const { id, items = [] } = Astro.props;
---

<div class="flex justify-center py-4">
    <List
        id={id}
        dataScrollId="anchors-cta"
        class="inline-flex gap-1 items-center justify-center bg-amber-50/10 backdrop-blur-3xl mx-auto rounded-2xl"
    >
        {
            items.map((anchor) => (
                <li class="">
                    <Button
                        class="hover:bg-black/80 text-white hover:text-white/90"
                        type="anchor"
                        href={anchor.href}
                        text={anchor.text}
                    />
                </li>
            ))
        }
    </List>
</div>
