---
import Button from '@atoms/Button.astro';
import HeadingJsConf from '@molecules/HeadingJsConf.astro';
---

<nav
  class="sticky-heading w-full max-w-[1200px] mx-auto px-4 py-2 bg-transparent border-[.5px] rounded-3xl border-primary/25 mt-2 bg-gradient-to-tl from-white/5 to-white/10 backdrop-blur-md flex justify-between"
>
  <HeadingJsConf
    aria-hidden="true"
    class="text-2xl md:text-3xl flex items-end [&_span:first-child]:text-4xl [&_span:nth-child(2)]:text-4xl [&_span:last-child]:leading-none [&_span:last-child]:ml-2 [&_span:last-child]:translate-y-.5 [&_span:last-child]:text-4xl [&_span:last-child_svg]:size-3 [&_span:last-child_svg]:-top-px [&_span:last-child_svg]:right-1/3 py-2 tracking-tight"
  />
  <Button href="javascript:void(0)" text="Atomic design" type="anchor">
    <small slot="text-highlighted" class="text-primary ml-1 text-xs"
      >(Próximamente)</small
    >
  </Button>
</nav>
