---
import Background from '@atoms/Background.astro';
import Section from '@components/Section.astro';
import ListScrollX from '@molecules/ListScrollX.astro';
const anchorsCta = [
    {
        href: 'javascript:void(0)',
        text: 'Postula tu charla',
    },
    {
        href: 'javascript:void(0)',
        text: 'Hazte Sponsor',
    },
    {
        href: 'https://gallery.jsconf.cl/',
        text: 'Ver antiguas ediciones',
    },
];
---

<Section
    class="relative [&]:max-w-[1200px] border-[.5px] border-secondary/55 rounded-xl aspect-[1200/78]"
>
    <slot name="backdrop">
        <Background
            class="bg-gradient-to-bl from-secondary/5 via-primary/15 to-secondary/5 min-h-auto h-full [&]:w-full left-0"
        />
    </slot>
    <slot name="content">
        <ListScrollX id="anchors-cta" items={anchorsCta} />
    </slot>
</Section>
