---
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      sizes="32x32"
      href="/favicon.png"
    />
    <meta name="theme-color" content="#323330" />
    <title>JsConf - landing</title>
  </head>
  <body>
    <slot />
  </body>
</html>
